.container {
    display: grid;
    /* grid-template: repeat(16, 10px) / repeat(16, 10px); */
    gap: 2px;
    width: 960px;
    height: 960px;
}

.initial-color {
    background: pink;
}

.change-color {
    background: grey;
}

button {
    margin: 15px;
}