html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: lightblue;
}

p {
    text-align: center;
    margin: 10px;
    font-size: large;
}

button {
    margin: 10px;
}

.grid-container {
    display: grid;
    gap: 1px;
    background-color: rgb(50, 50, 50);
    width: 960px;
    height: 960px;
    border: 1px solid rgb(0, 0, 0);
}

.mode {
    width: 438px;
    margin: auto;
    margin-bottom: 25px;
    border: 2px solid black;
}

.reset {
    margin-top: 30px;
}

.set {
    margin-top: 30px;
    margin-bottom: 30px;
}