html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
    background-color: lightblue;
}

p {
    text-align: center;
}

.grid-container {
    display: grid;
    gap: 1px;
    background-color: rgb(175, 175, 175);
    width: 960px;
    height: 960px;
    border: 1px solid rgb(0, 0, 0);
}

.grid-element {
    background: white;
}

.change-color {
    background: black;
}

button {
    margin: 10px;
}

.mode-on {
    background: rgb(153, 153, 153);
}

p {
    margin: 10px;
    font-size: large;
}

.mode {
    /* margin-top: 40px; */
    max-width: 325px;
    margin: auto;
}

.reset {
    margin-top: 30px;
}

.set {
    margin-top: 30px;
    margin-bottom: 30px;
}