body {
    background-color: lightblue;
}

.grid-container {
    display: grid;
    gap: 1px;
    background-color: rgb(175, 175, 175);
    width: 960px;
    height: 960px;
    border: 1px solid rgb(0, 0, 0);
}

.grid-element {
    background: white;
}

.change-color {
    background: black;
}

button {
    margin: 10px;
}

.mode-on {
    background: rgb(153, 153, 153);
}

p {
    margin: 10px;
}

.mode {
    margin-top: 40px;
}

.reset {
    margin-top: 30px;
}